<p>listar-administrador works!</p>
<a class="btn btn-success" routerLink="/parameters/admin-creation" role="button">New Record</a>
<br />
<br />
<table class="table">
    <thead class="table-dark">
        <tr>
            <td>
                Primer Nombre
            </td>
            <td>
                Segundo Nombre
            </td>
            <td>
                Primer Apellido
            </td>
            <td>
                Segundo Apellido
            </td>
            <td>
                Cargo
            </td>
            <td>
                Empresa
            </td>
            <td>
                Correo
            </td>
            <td>
                Contrasena
            </td>
            <td>
                Celular
            </td>
            <td>
                Edit
            </td>
            <td>
                Remove
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of recordList | paginate: { itemsPerPage: itemsPageAmount, currentPage: page }">
            <td>
                {{r.primerNombre}}
            </td>
            <td>
                {{r.segundoNombre}}
            </td>
            <td>
                {{r.primerApellido}}
            </td>
            <td>
                {{r.segundoApellido}}
            </td>
            <td>
                {{r.cargo}}
            </td>
            <td>
                {{r.empresa}}
            </td>
            <td>
                {{r.correo}}
            </td>
            <td>
                {{r.contrasena}}
            </td>
            <td>
                {{r.celular}}
            </td>
            <td>
                <a class="btn btn-warning" routerLink="/parameters/admin-edition/{{r.id}}" role="button">Edit</a>
            </td>
            <td>
                <button type="button" class="btn btn-danger" (click)="RemoveRecordConfirmation(r.id)">Remove</button>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="page = $event"></pagination-controls>
<ngx-spinner></ngx-spinner>
<div class="modal" id="removeConfirmationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure removing this record?
            </div>
            <div class="modal-footer">
                <button (click)="RemoveRecord()" type="button" class="btn btn-success">Confirm</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>