<p>reset-password works!</p>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="https://t4.ftcdn.net/jpg/01/07/37/75/240_F_107377506_miF59ZXXmAWZfIWxLvzVPACrq9n4bzXD.jpg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form [formGroup]="fgValidator">
            <input formControlName="username" type="text" id="username" class="fadeIn second" name="login" placeholder="username">
            <div class="warning-validator" *ngIf="fgv.username.errors && (fgv.username.dirty || fgv.username.touched)">
                <strong *ngIf="fgv.username.errors.required">
                    This field is required.
                </strong>
                <strong *ngIf="fgv.username.errors.minlength">
                    This field must be at least {{document_min_length}} characters long.
                </strong>
            </div>
            <label for="sendMethodValue">Send method</label> &nbsp;&nbsp;
            <select class="selectpicker" formControlName="type" id="sendMethodValue">
                <option selected value="1">SMS</option>
                <option value="2">Mail</option>
            </select>
            <input type="button" (click)="ResetPassword()" class="fadeIn fourth" value="Reset Password">
        </form>
    </div>
</div>