<div class="hero-image">
    <img src="https://i.pinimg.com/originals/c3/1b/fd/c31bfddc3b15eb9c007ff10fa4c2ced1.jpg" class="hero-image" alt="">
    <div class="hero-text">
        <h1>BetWhere</h1>
        <h2 class="text">Para saber donde apostar</h2>
<p class="text">¡Bienvenido a BetWhere, tu pagina para saber donde apostar! <br>
BetWhere te permite comunicarte con otros usuarios para poder solucionar todas tus dudas acerca del mundo de las apuestas. <br></p>
            <a class="hero-button"  href="parameters/register">Registrate ahora</a>
            <a class="hero-button" href="security/login">Ingresa con una cuenta</a>
    
    </div>
</div>

<app-footer></app-footer>