<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-fw fa-search"></i> Administrador <i class="fa fa-fw fa-angle-down pull-right"></i></a>
            <ul id="submenu-1" class="collapse">
                <li><a href="#" routerLink="/parameters/administrador"><i class="fa fa-angle-double-right"></i> Administradores</a></li>
                <li><a href="#" routerLink="/parameters/usuario"><i class="fa fa-angle-double-right"></i> Usuarios</a></li>
                <li>
                    <a href="#" routerLink="/parameters/denuncia"> <i class="fa fa-angle-double-right"></i> Denuncias</a>
                </li>
                <li><a href="#" routerLink="/parameters/publicidad"><i class="fa fa-angle-double-right"></i> Publicidad</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-toggle="collapse" data-target="#submenu-2"><i class="fa fa-fw fa-star"></i>  Usuario <i class="fa fa-fw fa-angle-down pull-right"></i></a>
            <ul id="submenu-2" class="collapse">
                <li><a href="#" routerLink="/parameters/usuario"><i class="fa fa-angle-double-right"></i> Amigos</a></li>
                <li><a href="#" routerLink="/parameters/muro"><i class="fa fa-angle-double-right"></i> Muro</a></li>
                <li><a href="#" routerLink="/parameters/publicacion"><i class="fa fa-angle-double-right"></i> Publicaciones</a></li>
                <li>
                    <a href="#" routerLink="/parameters/denuncia-creation"> <i class="fa fa-angle-double-right"></i> Denunciar Publicacion</a>
                </li>
                <li><a href="#" routerLink="/parameters/comentario"><i class="fa fa-angle-double-right"></i>Comentar Publicacion</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-user-plus"></i> Sugerencias </a>
        </li>

    </ul>
</div>
<!-- /.navbar-collapse -->