<p>change-password works!</p>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="https://t4.ftcdn.net/jpg/01/07/37/75/240_F_107377506_miF59ZXXmAWZfIWxLvzVPACrq9n4bzXD.jpg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form [formGroup]="fgValidator">
            <input formControlName="currentPassword" type="text" id="currentPassword" class="fadeIn second" name="login" placeholder="current password">
            <div class="warning-validator" *ngIf="fgv.currentPassword.errors && (fgv.currentPassword.dirty || fgv.currentPassword.touched)">
                <strong *ngIf="fgv.currentPassword.errors.required">
                    This field is required.
                </strong>
            </div>
            <input formControlName="newPassword" type="text" id="newPassword" class="fadeIn second" name="login" placeholder="new password">
            <div class="warning-validator" *ngIf="fgv.newPassword.errors && (fgv.newPassword.dirty || fgv.newPassword.touched)">
                <strong *ngIf="fgv.newPassword.errors.required">
                    This field is required.
                </strong>
            </div>
            <input formControlName="newPassword2" type="text" id="newPassword2" class="fadeIn second" name="login" placeholder="new password confirmation">
            <div class="warning-validator" *ngIf="fgv.newPassword2.errors && (fgv.newPassword2.dirty || fgv.newPassword2.touched)">
                <strong *ngIf="fgv.newPassword2.errors.required">
                    This field is required.
                </strong>
            </div>

            <input type="button" (click)="ChangePassword()" class="fadeIn fourth" value="Reset Password">
        </form>
    </div>
</div>