<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="https://as1.ftcdn.net/jpg/02/15/13/80/500_F_215138012_d7ht5WOEygeYhB4Nw9W0j1ChTMkDzFaS.jpg" id="icon" alt="User Icon" />
        </div>

        <form [formGroup]="fgValidator" class="form-horizontal" method="post" action="#">

            <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">Usuario</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <input formControlName="email" type="text" class="form-control" name="email" id="email" placeholder="asdf@asdf.com*" />
                        <div class="warning-validators" *ngIf="fvg.email.errors && (fvg.email.dirty || fvg.email.touched)">
                            <strong *ngIf="fvg.email.errors.required">Este campo es requerido </strong>
                            <strong *ngIf="fvg.email.errors.email">Ingrese un email valido</strong>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label for="password" class="cols-sm-2 control-label">Contraseña</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <input formControlName="password" type="password" class="form-control" id="password" placeholder="password de Usuario*" />
                        <div class="warning-validators" *ngIf="fvg.password.errors && (fvg.password.dirty || fvg.password.touched)">
                            <strong *ngIf="fvg.password.errors.required">La contraseña es requerida </strong>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div>
            <button type="button" class="btn btn-success">Login</button>
        </div>
        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" routerLink="/security/reset-password">Forgot Password?</a>
        </div>

    </div>
</div>