<p>crear-administrador works!</p>
<div class="container">

    <div class="title-center">
        <h1 class="title">BetWhere</h1>
        <h3 class="title">Formulario de Administrador</h3>
    </div>

    <div class="row main">

        <div class="main-login main-center">
            <form [formGroup]="fgValidator" class="form-horizontal" method="post" action="#">

                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Nombre</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input formControlName="primerNombre" type="text" class="form-control" name="name" id="name" placeholder="Primer Nombre*" />
                            <div class="warning-validator" *ngIf="fgv.primerNombre.errors && (fgv.primerNombre.dirty || fgv.primerNombre.touched)">
                                <strong *ngIf="fgv.primerNombre.errors.required">
                                        This field is required.
                                    </strong>
                                <strong *ngIf="fgv.text.primerNombre.minlength">
                                    This field must be at least {{minLengthCode}} characters long.
                                    </strong>
                            </div>
                        </div>
                        <div class="input-group">
                            <input formControlName="segundoNombre" type="text" class="form-control" name="name" id="name" placeholder="Segundo Nombre" />
                            <div class="warning-validator" *ngIf="fgv.segundoNombre.errors && (fgv.segundoNombre.dirty || fgv.segundoNombre.touched)">
                                <strong *ngIf="fgv.segundoNombre.errors.required">
                                    This field is required.
                                </strong>
                                <strong *ngIf="fgv.segundoNombre.errors.minlength">
                                    This field must be at least {{minLengthCode}} characters long.
                                </strong>
                            </div>
                        </div>
                        <div class="input-group">
                            <input formControlName="primerApellido" type="text" class="form-control" name="name" id="name" placeholder="Primer Apellido*" />
                            <div class="warning-validator" *ngIf="fgv.primerApellido.errors && (fgv.primerApellido.dirty || fgv.primerApellido.touched)">
                                <strong *ngIf="fgv.primerApellido.errors.required">
                                    This field is required.
                                </strong>
                                <strong *ngIf="fgv.primerApellido.errors.minlength">
                                    This field must be at least {{minLengthCode}} characters long.
                                </strong>
                            </div>
                        </div>
                        <div class="input-group">
                            <input formControlName="segundoApellido" type="text" class="form-control" name="name" id="name" placeholder="Segundo Apellido" />
                            <div class="warning-validator" *ngIf="fgv.segundoApellido.errors && (fgv.segundoApellido.dirty || fgv.segundoApellido.touched)">
                                <strong *ngIf="fgv.segundoApellido.errors.required">
                                    This field is required.
                                </strong>
                                <strong *ngIf="fgv.segundoApellido.errors.minlength">
                                    This field must be at least {{minLengthCode}} characters long.
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="cargo" class="cols-sm-2 control-label">Cargo</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input formControlName="cargo" type="text" class="form-control" name="cargo" id="cargo" placeholder="Cargo*" />
                            <div class="warning-validator" *ngIf="fgv.cargo.errors && (fgv.cargo.dirty || fgv.cargo.touched)">
                                <strong *ngIf="fgv.cargo.errors.required">
                                    This field is required.
                                </strong>
                                <strong *ngIf="fgv.cargo.errors.minlength">
                                    This field must be at least {{minLengthCode}} characters long.
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Correo</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input formControlName="correo" type="text" class="form-control" name="email" id="email" placeholder="abc@mail.com*" />
                            <div class="warning-validator" *ngIf="fgv.correo.errors && (fgv.correo.dirty || fgv.correo.touched)">
                                <strong *ngIf="fgv.correo.errors.required">
                                    This field is required.
                                </strong>
                                <strong *ngIf="fgv.correo.errors.minlength">
                                    This field must be at least {{minLengthCode}} characters long.
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="empresa" class="cols-sm-2 control-label">Empresa</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input formControlName="empresa" type="text" class="form-control" name="cargo" id="empresa" placeholder="Empresa*" />
                            <div class="warning-validator" *ngIf="fgv.empresa.errors && (fgv.empresa.dirty || fgv.empresa.touched)">
                                <strong *ngIf="fgv.empresa.errors.required">
                                    This field is required.
                                </strong>
                                <strong *ngIf="fgv.empresa.errors.minlength">
                                    This field must be at least {{minLengthCode}} characters long.
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Contraseña</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input formControlName="contraseña" type="password" class="form-control" name="password" id="password" placeholder="Contraseña*" />
                            <div class="warning-validator" *ngIf="fgv.contrasena.errors && (fgv.contrasena.dirty || fgv.contrasena.touched)">
                                <strong *ngIf="fgv.contrasena.errors.required">
                                    This field is required.
                                </strong>
                                <strong *ngIf="fgv.contrasena.errors.minlength">
                                    This field must be at least {{minLengthCode}} characters long.
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirm" class="cols-sm-2 control-label">Celular</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input formControlName="celular" type="text" class="form-control" name="phone" id="phone" placeholder="1234567891*" />
                            <div class="warning-validator" *ngIf="fgv.celular.errors && (fgv.celular.dirty || fgv.celular.touched)">
                                <strong *ngIf="fgv.celular.errors.required">
                                    This field is required.
                                </strong>
                                <strong *ngIf="fgv.celular.errors.minlength">
                                    This field must be at least {{minLengthCode}} characters long.
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="button" (click)="adminRegister()" class="login-button">Register</button>
                </div>
                <div class="login-register">
                    <p>¿Ya tienes una cuenta? <a href="security/login" class="login-link">Login</a></p>
                </div>
            </form>


        </div>
    </div>
</div>