<p>editar-muro works!</p>
<div class="container">

    <div class="title-center">
        <h1>Editar Muro</h1>
    </div>

    <div class="row main">

        <div class="main-login main-center">
            <form [formGroup]="fgValidator" class="form-horizontal" method="post" action="#">
                <input type="hidden" formControlName="id" />
                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">ID del muro</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input formControlName="id_muro" type="text" class="form-control" placeholder="ID del muro*" />
                            <strong *ngIf="fgv.id_muro.errors.required">
                                This field is required.
                            </strong>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">ID del usuario</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input formControlName="id_usuario" type="text" class="form-control" placeholder="ID del usuario*" />
                            <strong *ngIf="fgv.id_usuario.errors.required">
                                This field is required.
                            </strong>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="button" (click)="editar()" class="login-button">Crear</button>
                </div>
            </form>


        </div>
    </div>
</div>

