<!-- Footer Elements -->

<footer class="page-footer font-small indigo pt-4 ">

    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">BetWhere Content</h5>
                <p>Página utilizada para el aprendizaje y interacción de usuarios.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">


            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Contacto</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">correo electrónico</a>
                    </li>
                    <li>
                        <a href="#!">dirección</a>
                    </li>
                    <li>
                        <a href="#!">telefono </a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->
        <div class="footer-copyright">
            © 2020 Copyright:
            <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
    </div>
</footer>
<!-- Footer Elements -->