<!-- Footer Elements -->

<footer class="page-footer font-small indigo pt-4 ">

    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-7 mt-md-0 mt-4">

                <!-- Content -->
                <h5 class="text-uppercase">Acerca de nosotros</h5>
                <p>Somos un grupo de estudiantes de la Universidad de Caldas, en Manizales, Caldas, Colombia.
                    Este es nuestro proyecto de programación 3, las herramientas que usamos para la creación del frontend de esta aplicación fueron Angular y Bootstrap y para el backend usamos LoopBack 4.
                    Nuestro grupo está conformado por Sebastian Lopez Grajales, Dalia Estefania Romero Pineda y Eduardo José Mejía Álvarez.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">


            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="text-uppercase">Contacto</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">correo electrónico</a>
                    </li>
                    <li>
                        <a href="#!">dirección</a>
                    </li>
                    <li>
                        <a href="#!">telefono </a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->
        <div class="footer-copyright">
            © 2020 Copyright:
            <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
    </div>
</footer>
<!-- Footer Elements -->