<p>listar-imagen works!</p>
<h1>Imagen</h1>
<br>
<a class="btn btn-success" routerLink="/parameters/imagen-creation" role="button">New Record</a>
<br>
<br>
<table class="table">
    <thead class="table-dark">
        <tr>
            <td>
                Ruta
            </td>
            <td>
                Descripcion
            </td>
            <td>
                Titulo
            </td>
            <td>
                Edit
            </td>
            <td>
                Remove
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of recordList">
            <td>
                {{r.Ruta}
            </td>
            <td>
                {{r.Descripcion}}
            </td>
            <td>
                {{r.Titulo}}
            </td>
            <td>
                <a class="btn btn-warning" routerLink="/parmeters/imagen-edition/{{r.id_muro}}" role="button">Edit</a>
            </td>
            <td>
                <button type="button" class="btn btn-danger" (click)="RemoveRecordConfirmation('r.id_imagen')">Remove</button>
            </td>
        </tr>
    </tbody>
</table>