<h1>Publicaciones</h1>
<br>
<a class="btn btn-success" routerLink="/parameters/publicacion-creation" role="button">New Record</a>
<br>
<br>
<table class="table">
    <thead class="table-dark">
        <tr>
            <td>
                Imagen
            </td>
            <td>
                Texto
            </td>
            <td>
                Edit
            </td>
            <td>
                Remove
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of recordList">
            <td>
                {{r.ruta}
            </td>
            <td>
                {{r.texto}}
            </td>
            <td>
                <a class="btn btn-warning" routerLink="/parmeters/publicacion-edition/{{r.id_muro}}" role="button">Edit</a>
            </td>
            <td>
                <button type="button" class="btn btn-danger" (click)="RemoveRecordConfirmation('r.id_imagen')">Remove</button>
            </td>
        </tr>
    </tbody>
</table>