<h1>Publicaciones</h1>
<br>
<a class="btn btn-success" routerLink="/parameters/publicacion-creation" role="button">New Record</a>
<br>
<br>
<div class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4">
    <mdb-card *ngFor="let boat for recordList">
        <!--Card image-->
        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">
        </mdb-card-img>
        <!--Card content-->
        <mdb-card-body>

            <!--Title-->
            <mdb-card-title>
                <h4>{{ boat.text }}</h4>
            </mdb-card-title>

            <!--Text-->
            <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content.
            </mdb-card-text>

            <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
        </mdb-card-body>
    </mdb-card>
</div>